Nama : Reyhan Syamsudin

Kelas : TI - 3G / 27

NIM : 1941720210

Ujian Akhir Semester (UAS)

Menginstall JDK

In [2]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

Selanjutnya Install Apache Spark Version

In [3]:
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz

instalasi Pyspark Pada Google Collaboratory, dan Mencoba untuk Menampilkan Data Yang akan di Analisa.

In [4]:
!pip install -q findspark

In [5]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"

In [11]:
import findspark
findspark.init()

In [12]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
.master("local")\
.appName("Colab")\
.config('spark.ui.port', '4050')\
.getOrCreate()

In [13]:
df = spark.createDataFrame([{"hello": "world"} for x in range(1000)])
df.show(3)

+-----+
|hello|
+-----+
|world|
|world|
|world|
+-----+
only showing top 3 rows

In [14]:
df = spark.read.format("csv").option("header", "True", ).load("/content/Top YouTube Channels Data .csv")
df.printSchema()

root
 |-- rank : string (nullable = true)
 |-- youtuber: string (nullable = true)
 |-- subscribers : string (nullable = true)
 |-- video views : string (nullable = true)
 |-- video count : string (nullable = true)
 |-- category : string (nullable = true)
 |-- started : string (nullable = true)

In [15]:
df.show()

+-----+--------------------+------------+---------------+------------+-----------------+--------+
|rank |            youtuber|subscribers |   video views |video count |        category |started |
+-----+--------------------+------------+---------------+------------+-----------------+--------+
|    1|           T-Series |   213000000|188,073,919,029|       16708|           Music |    2006|
|    2|     YouTube Movies |   150000000|167,122,746,349|        null|Film & Animation |    2015|
|    3|Cocomelon - Nurse...|   133000000|126,822,520,940|         751|       Education |    2006|
|    4|          SET India |   131000000|101,541,977,714|       78334|           Shows |    2006|
|    5|              Music |   116000000| 78,437,871,689|        null|           Music |    2013|
|    6|          PewDiePie |   111000000| 28,260,779,633|        4472|          Gaming |    2010|
|    7|            MrBeast |    93900000| 15,417,304,461|         721|   Entertainment |    2012|
|    8|    Kids Diana Show |    93800000| 73,296,417,664|         977|  People & Blogs |    2015|
|    9|             Gaming |    92100000| 71,692,471,446|        null|          Gaming |    2013|
|   10|         Like Nastya|    91000000| 74,204,846,514|         670|  People & Blogs |    2016|
|   11|                WWE |    87600000| 67,960,479,071|       60699|          Sports |    2007|
|   12|  Zee Music Company |    83300000| 46,291,230,294|        6265|           Music |    2014|
|   13|      Vlad and Niki |    80900000| 62,444,514,631|         443|   Entertainment |    2018|
|   14|     5-Minute Crafts|    76300000| 23,174,639,387|        5281|  How to & Style |    2016|
|   15|             Sports |    75100000| 22,156,639,371|        null|          Sports |    2013|
|   16|          BLACKPINK |    73600000| 23,351,994,944|         394|  People & Blogs |    2016|
|   17|          Goldmines |    68800000| 16,271,446,682|        3050|Film & Animation |    2012|
|   18|      Justin Bieber |    68400000| 27,701,817,623|         243|           Music |    2007|
|   19|           Sony SAB |    65900000| 75,885,489,073|       50810|           Shows |    2007|
|   20|     Canal KondZilla|    65600000| 36,145,092,618|        2252|           Music |    2012|
+-----+--------------------+------------+---------------+------------+-----------------+--------+
only showing top 20 rows

In [16]:
from pyspark.sql import functions as F

In [17]:
df.select("youtuber", "started ").sort(F.col("started ").asc()).show(10, False)

+---------------------------+--------+
|youtuber                   |started |
+---------------------------+--------+
|YouTube                    |1970    |
|Rihanna                    |2005    |
|Zee TV                     |2005    |
|Ishtar Music               |2005    |
|Shakira                    |2005    |
|Felipe Neto                |2006    |
|T-Series                   |2006    |
|Movieclips                 |2006    |
|Cocomelon - Nursery Rhymes |2006    |
|YRF                        |2006    |
+---------------------------+--------+
only showing top 10 rows

In [18]:
df.select("youtuber", "video count ").sort(F.col("video count ").cast('int').desc()).show(10, False)

+----------------------+------------+
|youtuber              |video count |
+----------------------+------------+
|ABP News              |209351      |
|TEDx Talks            |179816      |
|Aaj Tak               |175877      |
|ABS-CBN Entertainment |173988      |
|one31                 |122287      |
|Colors TV             |78851       |
|SET India             |78334       |
|WWE                   |60699       |
|Zee TV                |59332       |
|WorkpointOfficial     |58916       |
+----------------------+------------+
only showing top 10 rows

In [19]:
df.select("youtuber", "video views ").sort(F.col("video views ").asc()).show(10, False)

+----------------------------+---------------+
|youtuber                    |video views    |
+----------------------------+---------------+
|SET India                   |101,541,977,714|
|Alan Walker                 |11,358,287,657 |
|Billie Eilish               |11,412,714,912 |
|One Direction               |12,395,170,322 |
|Marshmello                  |12,967,930,243 |
|Cocomelon - Nursery Rhymes  |126,822,520,940|
|JuegaGerman                 |13,400,179,485 |
|Goldmines Gaane Sune Ansune |13,405,543,587 |
|Ishtar Music                |14,208,873,860 |
|Dude Perfect                |14,219,518,587 |
+----------------------------+---------------+
only showing top 10 rows

In [7]:
!pip install findspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: findspark in /usr/local/lib/python3.7/dist-packages (2.0.1)